    body { font-family: Arial, sans-serif; margin: 20px; }
    nav a { margin-right: 10px; cursor: pointer; color: blue; text-decoration: underline; }
    .card { border: 1px solid #ccc; padding: 10px; margin: 10px 0; border-radius: 5px; }
    #mensagemErro { color: red; margin-top: 10px; }

header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;

}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.center-img {
  display: block;   /* transforma a imagem em bloco */
  margin: 0 auto;   /* centraliza horizontalmente */
}
